# Dependencias
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Producción
/build
/dist
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporal y cache
.cache/
.parcel-cache/
.npm
.eslintcache
.stylelintcache

# Sistema operativo
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Otros
*.tgz
*.zip
*.tar.gz
